<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.my.rn.ads.base">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->

    <!--    Tapjoy 12.9.0 includes play-services-ads v17.1.0. This version of play-services-ads includes the AD_ID permission
    which must be removed for members of the Google Play Families Program.-->
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />
</manifest>
