<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.my.rn.ads.admob.react">
	<application
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="true">

        <!-- ========= GOOGLE PLAY SERVICE ==================== -->
        <!--    <meta-data-->
<!--        android:name="com.google.android.gms.ads.AD_MANAGER_APP"-->
<!--        android:value="true"/>-->

    </application>
</manifest>
