<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.my.rn.ads.startio">
    <uses-permission android:name="android.permission.Ad_ID" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" tools:node="remove"/>

    <application>
        <meta-data android:name="com.startapp.sdk.RETURN_ADS_ENABLED" android:value="false" />
    </application>
</manifest>
